<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!DOCTYPE html>

<!-- LISTA / ITERANDO OBJETOS-->

<!-- 
    LAÇO ALINHADO,
        PRIMEIRO: PERCORRE OS OBJETOS

        SEGUNDO: OS VALORES/ATRIBUTOS DE CADA OBJETO.
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for="(cor,i) in cores"> {{i+1}}) {{cor}} </li>
        </ul>

        <hr>

        <template v-for="(cor,i) in cores">
            <h1> {{cor}} </h1>
            <p> {{i}} - </p>
        </template>

        <hr>

        <h2>Imprimindo array de objetos Pessoa => só os valores</h2>
        <li v-for="pessoa in pessoas">
            <div v-for="valor in pessoa">
                {{valor}}
            </div>
        </li>

        <hr>

        <h2>Imprimindo array só valores => Valor do atributo(valor), nome do Atributo(chave), e index(index)</h2>
        <li v-for="pessoa in pessoas">
            <span v-for="(valor, chave, index) in pessoa">
                {{chave}}:
                {{valor}}
                ({{index}}) - 
            </span>
        </li>

    </div>

</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59 },
                { nome: 'Guilherme', idade: 22, peso: 60 }
            ]
        }
    })
</script>

<STYLE>
    ul {
        list-style: none;
    }

    h1,
    p {
        display: inline;
    }
</STYLE>